<ul>
<li>
<div class="list_item">
<h3>面向黄斑疾病的多模态图像引导眼底内界膜剥离方法研究(Research on multimodal image-guided fundus inner limiting membrane peeling method for macular diseases)</h3>
<div><p class="archive__item-excerpt" itemprop="description">Funding:国家自然科学基金-青年项目 (National Natural Science Foundation of China-Young Scientist Fund)</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Duration:2022.01-2024.12</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Role:Project Investigator</p></div>
</div>
</li>
<li>
<div class="list_item">
<h3>多模态图像引导下的黄斑前膜精准剥除导航研究(Precise peeling and navigation of epiretinal membrane guided by multimodal images)</h3>
<div><p class="archive__item-excerpt" itemprop="description">Funding:广东省自然科学基金-面上项目</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Duration:2021.01-2023.12</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Role: Project Investigator</p></div>
</div>
</li>
<li>
<div class="list_item">
<h3>基于眼底三维模型的视网膜血管注射引导方法研究(Research on retinal vessel injection method guided by 3-dimensional retinal modal)</h3>
<div><p class="archive__item-excerpt" itemprop="description">Funding:深圳市稳定支持-面上项目</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Duration:2022.10-2024.12</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Role:Project Investigator</p></div>
</div>
</li>
<li>
<div class="list_item">
<h3>基于实时OCT的激光治疗能量自适应调节系统研究(Research on adaptive adjustment system of laser therapy energy based on real-time OCT)</h3>
<div><p class="archive__item-excerpt" itemprop="description">Funding:宁波市自然科学基金</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Status:Completed</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Role:Project Investigator</p></div>
</div>
</li>
<li>
<div class="list_item">
<h3>可携式近红外自发荧光眼底图像采集系统(Portable near-infrared autofluorescence fundus image acquisition system)</h3>
<div><p class="archive__item-excerpt" itemprop="description">Funding:宁波市公益性计划-面上项目</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Status:Completed</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Role: Project Investigator</p></div>
</div>
</li>
<li>
<div class="list_item">
<h3>可携式多模态眼底图像采集系统(Portable Multimodal Fundus Image Acquisition System)</h3>
<div><p class="archive__item-excerpt" itemprop="description">Funding:浙江省自然科学基金-青年项目</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Status:Completed</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Role:Project Investigator</p></div>
</div>
</li>
</ul>