<ul>
<li>
<div class="list_item">
<h3>基于大脑灰质与白质网络融合的阿尔茨海默病诊断方法研究(Research on diagnosis of Alzheimer&apos;s disease based on the fusion of brain&apos;s gray and white matters networks)</h3>
<div><p class="archive__item-excerpt" itemprop="description">Funding:国家自然科学基金-青年项目 (National Natural Science Foundation of China-Young Scientist Fund)</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Duration:2022.01-2024.12</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Role:Project Investigator</p></div>
</div>
</li>
<li>
<div class="list_item">
<h3>眼脑信息关联性研究及其在阿尔茨海默病早期诊断中的应用(Research on the relationship between the eye and brain and its application in early diagnosis of Alzheimer&apos;s disease)</h3>
<div><p class="archive__item-excerpt" itemprop="description">Funding:中国博士后科学基金面上资助 (China Postdoctoral Science Foundation)</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Duration:2021.06-2022.07</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Role: Project Investigator</p></div>
</div>
</li>
</ul>